<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img src="../../../assets/signuplogo.png" alt="">
                    </div>
                    <h1 class="text-center">Register here</h1>
                    <!-- {{user|json}} -->
                    <form (ngSubmit)="formSubmit()" class="ml20 mt20 mr20 mb20" id="formid">
                        <!-- username field -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input required [(ngModel)]="user.username" name="username" matInput
                                placeholder="Enter here" />
                            <mat-hint>Username must be unique </mat-hint>
                        </mat-form-field>

                        <!-- password -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input required [(ngModel)]="user.password" name="password" type="password" matInput
                                placeholder="Enter here" />
                        </mat-form-field>

                        <!-- first name -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input required [(ngModel)]="user.firstName" name="firstName" matInput
                                placeholder="Enter here" />
                        </mat-form-field>

                        <!-- last Name -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input required [(ngModel)]="user.lastName" name="lastName" matInput
                                placeholder="Enter here" />
                        </mat-form-field>

                        <!-- email -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input required [(ngModel)]="user.email" name="email" type="email" matInput
                                placeholder="Enter here" />
                        </mat-form-field>

                        <!-- phone no -->
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Mobile Number</mat-label>
                            <input required [(ngModel)]="user.phone" name="phone" input="Number" matInput
                                placeholder="Enter here" />
                        </mat-form-field>


                        <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">Register</button>
                            <button type="reset" mat-raised-button style="margin-left: 20px;" color="accent" class="reset">Clear</button>
                        </div>


                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>