<!-- home-component.html -->
<!-- <div class="bootstrap-wrapper video-background">
    <div class="container">
        <div class="row mt20">
            <div class="col-md-6 offset-3 text-center">
                <h1>Welcome to Exam Portal</h1>
                <button mat-raised-button color="primary">Home Page</button>
            </div>
        </div>
    </div>
</div> -->

<header class="showPage">
    <h1>Welcome</h1>
    <p>Test Your Self</p>
    <a href="#section-1">
        <button onclick="location.href='#section-1'" type="button" class="btn-1">Read About</button>
      </a>
      
      </header>

  <section id="section-1">
    <h1>About Exam Portal</h1>
    <p>Welcome to Exam Portal a cutting-edge platform dedicated to transforming the way exams are conducted and managed. We understand the importance of efficient and secure examination processes, and our portal is designed to meet the diverse needs of students, educators, and institutions.</p>
  </section>

  <section id="section-2">
    <h1>Some Cool Stories</h1>
    <div class="flex-columns">
        <p>Welcome to the forefront of educational innovation with Exam Portal—an advanced platform that is reshaping the landscape of academic assessments. In an era where technology is rapidly transforming the way we learn and teach, Exam Portal stands as a beacon of efficiency and effectiveness. Our platform goes beyond being just a tool; it is a comprehensive solution crafted to revolutionize the entire examination experience for students, educators, and administrators.</p>

        <p>Exam Portal prides itself on a user-centric design that ensures a seamless experience for everyone involved. Navigating the platform is intuitive, making it accessible to users with varying levels of technological proficiency. Whether you're an administrator setting up exams, an educator monitoring progress, or a student taking an assessment, our user-friendly interface is designed to cater to your needs.</p>
        
        <p>Security is paramount, and Exam Portal employs state-of-the-art measures to safeguard exam content and candidate data. From encryption to secure access controls and anti-cheating mechanisms, we've left no stone unturned in ensuring the integrity of assessments. Trust Exam Portal to provide a secure environment for your institution's examinations.</p>
        
        
    </div>
  </section>

  <footer>
    <p>copyright 2023 &copy;</p>
  </footer>
